
body {
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    
 }

 ::-webkit-scrollbar{
 	width: 12px;
 }
 ::-webkit-scrollbar-track {
      background-color: white; 

} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
            background-color: #0097A7;
            border-radius: 6px;

} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: rgb(0,0,0,0);
} 
h1{
	font-family: 'Oleo Script', cursive;
	color: #7A7A7A;
	font-size: 3em;
	position: center;
	margin: 0px;
	color: white;



}
h2{
	position: relative;
	color: #0097A7;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Oleo Script', cursive;
	text-align: left;
	font-style: normal;
	font-weight: 300;
	font-size: 38px;
	margin: 0px;
	padding: 40px 0px 0px 40px;
	/*transform: rotate(-9deg);*/
	
	
}
h3{position: absolute;
	top: 50%;
	color: #0097A7;
	font-family: 'Roboto', sans-serif, bold;
	/*font-family: 'Oleo Script', normal;*/
	font-weight: 300;
	font-size: 1.9em;
	padding-left: 20px;
	text-align: left;

}
.content p{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2.6em;
	
	text-align: center;
	position: relative;
	top: 0%;
	left: 20%;
	width: 60%;





}
span{
	max-height: 64px;
	text-align: center;
}
neon-animated-pages{
	height: 100%;
}
paper-header-panel{

}

paper-toolbar.paper-toolbar-0 {
  background: #0097A7;
  color: white;
}

paper-icon-button{
	display: none;
}
paper-dialog{
	position: fixed;
	width: 100%;
	height: 100%;
}

#spol{
	height: 100%;
	width: 100%;
}
paper-item{
	min-height: 250px;
}

paper-button{
	  /*min-width: 7.14em;
 	 margin: 0 0.29em;*/
	/*height: 45px;
	width: 100px;*/
	/*color: grey;*/
	/*font-size: 0.7em;*/
	/*font-family: 'Roboto';*/
	/*font: inherit;
	text-align: center;
	margin: 8px;*/

}

paper-button:hover{
	background-color: grey;
	z-index: 2;

	}
paper-ripple #dialog_ripple{


}
parallax-container{
	height: calc(100vh - 192px);

}

parallax-group{
	height: 110vh;
	

}
#group1{
	background-image: url('res/img/DSCN1561.JPG');
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.78);
  	background-blend-mode: multiply;
	background-repeat: no-repeat;
	z-index: 3;
}
#group2{
	background-image: url('res/img/IMG_20150417_195742.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.78);
  	background-blend-mode: multiply;
	z-index: 2;
}
#group3{
	background-image: url('res/img/IMG_20150417_195742.jpg');
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.78);
  	background-blend-mode: multiply;
	background-repeat: no-repeat;
	z-index: 2;

}
.layer{
	text-align: center;
 	position: absolute;
 	left: 0px;
  	top: 100%;
  	height: 100%;
  	width: 100%;
  	background-color: rgb(0,0,0,0);
  	/*border-style: solid;
    border-width: 20px;*/
}
.base_layer{
	text-align: center;
 	position: absolute;
 	left: 0px;
  	top: 0px;
  	height: 100%;
  	width: 100%;
  	/*background-color: white;*/
  	/*border-style: solid;
    border-width: 20px;*/
}



.content {
	/*margin: 00px 0vw 0vh 0vw;*/
	width: 100%;
	height: 100%;
}
.welcome{
	position: relative;
	height: 20%;
	width: 100%;
}
.avatar_div{
	position: relative;
	height: 30%;
	width: 100%;

}
.intro{
	position: relative;
	height: 50%;
	width: 100%;
}

.myapp {
	color: black;
	height: 30px;
}
.myapp > a:hover{
	padding-left: 30px;
}
.row{
	padding-left: 120px;
		
}
.interests{
	position: relative;
	width: 100%;
	height: 80%;
	
}
.technology{
	background-color: rgba(0, 188, 212, 1);
	position: relative;
	min-height: 100px;
	border-radius: 4px;
 	box-shadow: 9px 14px 19px 2px rgba(0, 0, 0, 0.4);
  	margin: 15px;
  	height: 75%;
  	width: 33%;
}
.technology .logo{
	position: absolute;
	top: 0px;
	left: 0px;
	background-size: contain;
	background-repeat: no-repeat;
	height: 60%;
	width: 100%
	

}
.technology .logo div{
	position: absolute;
	left: 25%;
	top: 8%;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
  	background-blend-mode: multiply;

	margin: 8px 0px;
	width: 50%;
	height: 80%;


}
h5{
	position: absolute;
	bottom: 0px;
	left: 5%;
	width: 90%;
	display: block;
  	font-size: 1.6em;
  	margin: 0em;
  	height: 10%;
  	color: #F50057;
  	text-align: center;


}
.technology p{
	
	bottom: 0px;
	left: 10%;
	padding: 8px;
	width: 80%;
	height: 30%;
	margin: 0px;
	color: white;
	font-size: 1.3em;

}

.column{
	margin-left: 10px;
}

.center{
	/*background-color: rgb(0,0,0,0);*/
}

#home_content{
	background-color: #A4A4A5;
	opacity: 0.9;
	width: 100%;
	
}
#signiture{
	float: left;
	width: 50%;
}

.pic_div{
	position: absolute;
	margin: 0px;

	width: 460px;
	height: 345px;
	transition-property: , border-radius;
	transition-duration: .2s, 1s;
	transition-timing-function: linear, ease-in;
	transition-delay: 0, 1s;

}
.pic_logos{
	position: absolute;
  	right: 70px;
    top: 50px;
	
	width: 15px;
	height: 15px;
	transform: rotateY(50deg) rotateZ(5deg);
	overflow: hidden;
	visibility: hidden;

	transition-property: visibility, width, height;
	transition-duration: 0s, .5s, .5s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s, 0s, 0s;
	


}

#poly{
	background-image: url(res/img/p-logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: calc( 100% - 20px );
	width:  calc( 50% - 20px );
	float: left;
	margin: 10px;
	



}
#and{
	background-image: url(res/img/android_robot.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 10px;
	width:  calc( 50% - 20px );
	height: calc( 100% - 20px );
	float: left;
	

	
}
#h2{
	margin: 0px 0px 50px 0px;
}
.wrapper:hover .pic_logos{
	visibility: visible;
	width: 200px;
	height: 200px;

}
.container:hover #poly{
	
	/*transform: rotateZ(30deg);*/


}
.container:hover #and{
	
	/*transform: rotateZ(-30deg);*/


}
.container{
	background-image: url(res/img/ultrabook_pencil.png); 
	shape-outside: url(res/img/ultrabook_pencil.png);
    shape-image-threshold: 0.5;

	position: absolute;
	right: 50px;
	/*margin: 100px;*/

	width: 460px;
	height: 345px;

	

}
.wrapper{
	position: absolute;
	left: calc( 50% - 460px );
	top: calc( 50% - 260px );
	width: calc( 2 * 460px);
	height: 345px;
	background-color: white;
}
.triangle-up {
	width: 0;
	height: 0;
	border-left: 100vw solid transparent;
	border-bottom: 16vh solid white;
	
}
.filler{
	
	background-color: white;
	width: 100%;
	height: 90vh;
	/*transform: rotate(-5.71deg);*/

}
.triangle-down{
	width: 0;
	height: 0;
	border-right: 100vw solid transparent;
	border-top: 16vh solid white;
	

}
#avatar{
	position: absolute;
	background-image: url(res/img/rh_avatar.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	border-radius: 50%;
	height: 100px;
	top: calc(20% - 9px);
  	left: calc(50% - 50px);

}
#inHex {
	/*2a....  a = sgrt(sqr(s1) - (sqr(s1/2)))  */
	width: 120px;
	/*s1*/
	height: 70px;
	background-color: white;
	position: absolute;
	top: calc(20% + 5px);
	left: calc(50% - 60px);
	transform: rotate(90deg);


	

}
#inHex:before {
	content: "";
	position: absolute;
	top: -35px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 35px solid white;
}
#inHex:after {
	content: "";
	position: absolute;
	bottom: -35px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 35px solid white;
	z-index: 10;

}
#hexagon {
	/*2a....  a = sgrt(sqr(s1) - (sqr(s1/2)))  */
	width: 138px;
	/*s1*/
	height: 80px;
	background: #0097A7;
	position: absolute;
	top: 20%;
	left: calc(50% - 69px);
	transform: rotate(90deg);

}
#hexagon:before {
	content: "";
	position: absolute;
	top: -40px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 69px solid transparent;
	border-right: 69px solid transparent;
	border-bottom: 40px solid #0097A7;
}
#hexagon:after {
	content: "";
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 69px solid transparent;
	border-right: 69px solid transparent;
	border-top: 40px solid #0097A7;
}

/* Parallax*/
	.parallaxParent {
		height: 100vh;
		overflow: hidden;
	}
	.parallaxParent > * {
		height: 200%;
		position: relative;
		top: -100%;
	}




/* Breakpoints */


/* mobile-small */
@media all and (min-width: 0px) and (max-width: 460px) and (orientation: portrait) { 
	paper-icon-button{
	display: inline-block;
	}
	.technology{
			background-color: rgba(0, 188, 212, 1);
			position: relative;
			min-height: 100px;
			border-radius: 4px;
		 	box-shadow: 9px 14px 19px 2px rgba(0, 0, 0, 0.4);
		  	margin: 15px;
		  	height: 35%;
		  	width: 95%;
		}
		.technology .logo{
			position: absolute;
			top: 0px;
			left: 0px;
			background-size: contain;
			background-repeat: no-repeat;
			height: 100%;
			width: 40%
			

		}
		.technology .logo div{
			position: absolute;
			left: 25%;
			top: 8%;
			background-size: contain;
			background-repeat: no-repeat;
			background-color: transparent;
		  	background-blend-mode: multiply;

			margin: 8px 0px;
			width: 50%;
			height: 80%;


		}
		.content p{
			color: white;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 1.7em;
			
			text-align: center;
			position: relative;
			top: 0%;
			left: 20%;
			width: 60%;

		}
		h5 {
		  position: absolute;
		  bottom: 0px;
		  left: 5%;
		  width: 90%;
		  display: block;
		  font-size: 1em;
		  margin: 0em;
		  height: 20%;
		  color: #F50057;
		  text-align: center;

			
		}
		.technology p {
		  bottom: 0px;
		  left: 40%;
		  padding: 0;
		  width: 60%;
		  height: 90%;
		  margin: 0px;
		  color: white;
		  font-size: 1.2em;
		  position: absolute;
		}
}
/* mobile-large */
@media all and (min-width: 361px) and (orientation: portrait) {
	paper-icon-button{
	display: inline-block;
	}
}
/* mobile-small-landscape */
@media all and (min-width: 0px) and (max-width: 480px) and (orientation: landscape) { 
		.technology{
			background-color: rgba(0, 188, 212, 1);
			position: relative;
			min-height: 100px;
			border-radius: 4px;
		 	box-shadow: 9px 14px 19px 2px rgba(0, 0, 0, 0.4);
		  	margin: 15px;
		  	height: 35%;
		  	width: 95%;
		}
		.technology .logo{
			position: absolute;
			top: 0px;
			left: 0px;
			background-size: contain;
			background-repeat: no-repeat;
			height: 100%;
			width: 40%
			

		}
		.technology .logo div{
			position: absolute;
			left: 25%;
			top: 8%;
			background-size: contain;
			background-repeat: no-repeat;
			background-color: transparent;
		  	background-blend-mode: multiply;

			margin: 8px 0px;
			width: 50%;
			height: 80%;


		}
		.content p{
			color: white;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 1.7em;
			
			text-align: center;
			position: relative;
			top: 0%;
			left: 20%;
			width: 60%;
		}
		.technology p {
		  bottom: 0px;
		  left: 40%;
		  padding: 0;
		  width: 60%;
		  height: 90%;
		  margin: 0px;
		  color: white;
		  font-size: 1.2em;
		  position: absolute;
		}
		h5 {
		  position: absolute;
		  bottom: 0px;
		  left: 5%;
		  width: 90%;
		  display: block;
		  font-size: 1em;
		  margin: 0em;
		  height: 20%;
		  color: #F50057;
		  text-align: center;

			
		}

}
/* mobile-large-landscape */
@media all and (min-width: 481px) and (orientation: landscape) { }
/* tablet-small-landscape */
@media all and (min-width: 600px) and (max-width: 960px) and (orientation: landscape) { }
/* tablet-large-landscape */
@media all and (min-width: 961px) and (orientation: landscape) { }
/* tablet-small */
@media all and (min-width: 600px) and (orientation: portrait) { }
/* tablet-large */
@media all and (min-width: 601px) and (max-width: 840px) and (orientation : portrait) { }
/* desktop-x-small-landscape */
@media all and (min-width: 0px) and (max-width: 480px) and (orientation: landscape) { }
/* desktop-x-small */
@media all and (min-width: 0px) and (max-width: 480px) and (max-aspect-ratio: 4/3) { }
/* desktop-small-landscape */
@media all and (min-width: 481px) and (max-width: 840px) and (orientation: landscape) { }
/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) and (max-aspect-ratio: 4/3) { }
/* desktop-medium-landscape */
@media all and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) { }
/* desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4/3) { }
/* desktop-large */
@media all and (min-width: 1281px) and (max-width: 1600px) { }
/* desktop-xlarge */
@media all and (min-width: 1601px) and (max-width: 1920px) { }

